:root {
    --vermelho: #e50914;
    --preta: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*elementos base*/

body {
    background-color: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}


/*filme-principal*/

.filme-principal {
    font-size: 16px;
    background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('/img/capa-house.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.botao {
    background-color: rgba(0, 0, 0, .5);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}

a {
    text-decoration: none;
}

.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 20px;
}

.filme-principal .container {
    width: 70%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carousel-filmes {
    margin-top: 5px;
}

.categories {
    margin: 10px 0;
}

footer {
    margin: 20px;
    text-align: center;
}

hr {
    border: 1px solid #e50914;
    margin-bottom: 15px;
}

.modal {
    border-radius: 0;
    padding: 0;
    margin: 0;
    width: 720px;
    max-width: 720px;
    height: 415px;
}

#ficha-tecnica {
    background-color: #141414;
    justify-items: center;
    align-items: center;
}

#ficha-tecnica h3 {
    margin: 10px;
    padding: 10px;
}

.info {
    display: flex;
    max-height: 415px;
    justify-content: space-around;
}

.info ul {
    margin: 0 15px;
    padding: 15px;
}

.bloco {
    width: 300px;
    max-width: 300px;
    height: 300px;
}